p{
    color: #19323C;
    width: 800px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: #65AFFF;
}

p > small {
    color: #F3F7F0;
    display: block;
    text-align: right;
}

textarea  {
    background-color: #5899E2;
}