{% extends 'base.html.twig' %}

{% block title %}Change password
{% endblock %}

{% block stylesheets %}
    {# {{ encore_entry_link_tags('changepass') }} #}
{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}